<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>PrintAndScan</string>
	<key>CFBundleGetInfoString</key>
	<string>9.0, Copyright © 2001-2016 Apple Inc.</string>
	<key>CFBundleIconFile</key>
	<string>PrintScanPref.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.preference.printfax</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Printers &amp; Scanners</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>9.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>9.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21G806</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSMainNibFile</key>
	<string>PrintScanPref</string>
	<key>NSPrefPaneIconFile</key>
	<string>PrintScanPrefIcon.tiff</string>
	<key>NSPrefPaneRemoteViewClass</key>
	<string>PrintScanPrefRemoteViewService</string>
	<key>NSPrefPaneSearchParameters</key>
	<string>PrintAndScan</string>
	<key>NSPrefPaneSupportsAutoLayout</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>ApplePF_Pref</string>
</dict>
</plist>
