<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bonds</key>
	<dict>
		<key>nibName</key>
		<string>ANPAdvancedBondView</string>
	</dict>
	<key>dns</key>
	<dict>
		<key>nibName</key>
		<string>ANPAdvancedDNSView</string>
	</dict>
	<key>eap</key>
	<dict>
		<key>nibName</key>
		<string>ANPAdvanced8021xView</string>
	</dict>
	<key>ethernet</key>
	<dict>
		<key>nibName</key>
		<string>ANPAdvancedEthernetView</string>
	</dict>
	<key>ipsec</key>
	<dict>
		<key>nibName</key>
		<string>ANPAdvancedIPSecView</string>
	</dict>
	<key>l2tp</key>
	<dict>
		<key>nibName</key>
		<string>ANPAdvancedL2TPView</string>
	</dict>
	<key>modem</key>
	<dict>
		<key>nibName</key>
		<string>ANPAdvancedModemView</string>
	</dict>
	<key>ppp</key>
	<dict>
		<key>nibName</key>
		<string>ANPAdvancedPPPOptionsView</string>
	</dict>
	<key>pppaccounts</key>
	<dict>
		<key>nibName</key>
		<string>ANPAdvancedPPPView</string>
	</dict>
	<key>pppoe</key>
	<dict>
		<key>nibName</key>
		<string>ANPAdvancedPPPoEView</string>
	</dict>
	<key>pptp</key>
	<dict>
		<key>nibName</key>
		<string>ANPAdvancedPPTPView</string>
	</dict>
	<key>proxies</key>
	<dict>
		<key>nibName</key>
		<string>ANPAdvancedProxyView</string>
	</dict>
	<key>tcpip</key>
	<dict>
		<key>nibName</key>
		<string>ANPAdvancedTCPIPView</string>
	</dict>
	<key>vpnondemand</key>
	<dict>
		<key>nibName</key>
		<string>ANPAdvancedVPNonDemandView</string>
	</dict>
	<key>vpnoptions</key>
	<dict>
		<key>nibName</key>
		<string>ANPAdvancedVPNOptionsView</string>
	</dict>
	<key>wins</key>
	<dict>
		<key>nibName</key>
		<string>ANPAdvancedWINSView</string>
	</dict>
</dict>
</plist>
