<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Expose</string>
	<key>CFBundleGetInfoString</key>
	<string>MissionControl</string>
	<key>CFBundleIconFile</key>
	<string>MissionControl.icns</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>MissionControl</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.preference.expose</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Mission Control</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>226</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21G806</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2003-2017 Apple Inc. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MissionControl</string>
	<key>NSPrefPaneIconFile</key>
	<string>MissionControl.png</string>
	<key>NSPrefPaneIconLabel</key>
	<string>Mission\nControl</string>
	<key>NSPrefPaneIconName</key>
	<string>MissionControlIcon</string>
	<key>NSPrefPaneSearchParameters</key>
	<string>Expose</string>
	<key>NSPrefPaneSupportsAutoLayout</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>WindowVousPref</string>
</dict>
</plist>
